body {
  font-family: 'Roboto';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-padTop {
  padding-top: 70px;
}

.categorySelected > button {
  background-color:#1cbbd7!important;
  color:#fff!important;
}

.innerForm_entering {
  opacity: 0!important;
  -webkit-transform: translateY(-30%)!important;
          transform: translateY(-30%)!important;
}

.innerForm_entered {
  opacity: 1!important;
  -webkit-transform: translateY(0%)!important;
          transform: translateY(0%)!important;
}
